<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/vendor/css/fontawesome-all.min.css' />
    <link rel='stylesheet' href='/stylesheets/font.css' />
  </head>
  <body>
    <div class="wrapper">
      <header class="header " >
          <div class="header-contact ">
            <div class="container">
              <div class="header-left float-left">
              
                <span class="h-l float-left">Liên Hệ <i class="fa fa-angle-right "></i></span>
                <ul class="nav">
                  <li><a href="https://www.facebook.com/MasterTVC">Facebook</a></li>
                  <li><a href="https://www.youtube.com/channel/UCGYKJK4QWb0Ty5eXhLHb79w?view_as=subscriber">Youtube</a></li>
                  <li><a href="https://www.facebook.com/MasterTVC">Gooogle</a></li>
                </ul>
              </div>
              
            
            <div class="h-r header-right float-right">
                <ul class="nav">
                  <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                  <li><a href=""><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
              <!-- header-right -->
            <div style="clear: both;"></div>
            
          </div>
          <!-- container -->
        </div>
          <!-- header-contact -->
      </header>
      <!-- header -->
      <div class="h-lg text-center">
          <h1>VANCUONG.INFO</h1>
      </div>
      <nav class="header-nav navbar navbar-expand-lg navbar-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav justify-content-center" style="width:100%;">
            <li class="nav-item active">
              <a class="nav-link" href="#">Trang Chủ</a>
            </li>
            <li class="nav-item col-xs-12">
              <a class="nav-link" href="#">Giới Thiệu</a>
            </li>
            <li class="nav-item col-xs-12">
              <a class="nav-link" href="#">Tin Tức</a>
            </li>
            <li class="nav-item col-xs-12">
              <a class="nav-link" href="#">Danh Mục</a>
            </li>
            <li class="nav-item col-xs-12">
              <a class="nav-link" href="#">Liên Hệ</a>
            </li>
          </ul>
        </div>
      </nav>
      <main class="main mt-3">
        <div class="container">
          <div class="row">
            <div class="banner-top">
              <ul class=" ">
                  <li class="nav-item" >
                      <div class="color-li"></div>
                      <a href=""><img src="/images/1.jpg " width="100%" alt=""></a>
                      <a href=""><div class="title-li">Compare Keyword Data in Google Search Console’s Search Analytics Report</div></a>
                  </li>
                  <li class="nav-item">
                      <div class="color-li"></div>
                      <a href=""><img src="/images/2.jpg " width="100%" alt=""></a>
                      <a href=""><div class="title-li">Compare Keyword Data in Google Search Console’s Search Analytics Report</div></a>
                  </li>
                  <li class="nav-item">
                      <div class="color-li"></div>
                      <a href=""><img src="/images/3.jpg " width="100%" alt=""></a>
                      <a href=""><div class="title-li">Compare Keyword Data in Google Search Console’s Search Analytics Report</div></a>
                  </li>
                  <li class="nav-item">
                      <div class="color-li"></div>
                      <a href=""><img src="/images/4.jpg " width="100%" alt=""></a>
                      <a href=""><div class="title-li">Compare Keyword Data in Google Search Console’s Search Analytics Report</div></a>
                  </li>
                  <li class="nav-item">
                      <div class="color-li"></div>
                      <a href=""><img src="/images/5.jpg " width="100%" alt=""></a>
                      <a href=""><div class="title-li">Compare Keyword Data in Google Search Console’s Search Analytics Report</div></a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
        
      </main>
          <footer class="footer"></footer>
    </div>
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/vendor/js/fontawesome-all.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
